@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  background-color: #333333; /* Charcoal Gray */
  width: 100%;
}

header {
    color: #ECF0F1;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;  /* Adjusts horizontal spacing */
    margin-top: 5px;
}

header h1 {
  margin-left: 80px;  /* Adjust the value as needed to move the title right */
  font-family: 'Montserrat', sans-serif;
}

body, h1, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box; /* Ensures padding does not affect the width */
}

h1 {
    margin-left: 20px;
}

h2 {
  color: white;
}

/* Menu Icon Styling */
.menu-icon {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 3000;
    color: white;
    font-size: 30px;
  }
  
  /* Navigation Menu Styling */
  #nav-menu {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: -250px;
    background-color: #20C997; /* Teal */
    transition: 0.5s; 
  }

  .hidden-icon {
    visibility: hidden;
  }
  
  #main-content {
    transition: margin-left 0.5s ease;
  }
  
  .nav-open {
    left: 0; /* Position the menu on the screen */
  }
  
  .main-push {
    margin-left: 250px; /* Push the main content to the right */
  }
  
  #nav-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
    font-family: 'Roboto', sans-serif;
  }
  
  #nav-menu a:hover {
    background-color: #f1f1f1; /* Light background on hover */
    color: #333; /* Darker text color on hover */
  }
  
  /* Close button */
  .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
  }

/*------------------- Start of the main content ------------------------*/
.main-content {
    text-align: center;
}

#monthName {
    text-align: center;
}

.emojis {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.emoji-section {
    margin: 20px;
    text-align: center;
}

.emoji-icon {
    font-size: 48px;
    display: block; /* Ensures emojis are on top of the graphs */
}

.emoji-graph {
    width: 500px !important; /* Set width */
    height: 300px !important; /* Set height */
    display: flex; /* Correct any layout issues */
    background-color: #f0f0f0; /* Placeholder for graphs */
    margin: 20px auto;
    border-radius: 10px;
}

/* Insights Section Enhancements */
#insights h2 {
  font-size: 24px;
  color: #4A90E2; /* Change to a calming blue */
  font-weight: bold;
  margin-bottom: 10px;
}

#insightContent {
  font-size: 18px;
  color: #333;
  background-color: #f0f4f8; /* Light grey background for contrast */
  padding: 20px;
  border-radius: 8px;
  line-height: 1.6;
}

/* Adding a shadow for depth */
#insights {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  margin: 20px;
}


/*----------------- Media Queries ------------------*/
@media (max-width: 768px) {
  html, body {
      overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  header {
      flex-direction: column;
      align-items: flex-start;
      font-size: 20px;
      padding: 10px;
  }

  header h1 {
      margin-left: 0;
      margin-top: 10px;
      font-size: 40px; /* Adjust font size for smaller screens */
      text-align: center; /* Center-align the title */
      width: 100%;
  }

  .menu-icon {
      top: 10px;
      left: 10px;
      font-size: 25px;
  }

  #main-content {
    width: calc(100% - 20px); /* Full width of the screen with padding adjustment */
  }

  .emoji-graph {
      width: 100% !important; /* Set width to 100% of the viewport width */
      margin: 10px;
  }

  #insights {
      margin: 10px;
      padding: 10px;
  }

  #insights h2 {
      font-size: 20px;
  }

  #insightContent {
      font-size: 16px;
      padding: 15px;
  }
}

